* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }
  body {
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 100%;
  }
  .container{
      display: flex;
      justify-content:center ;
      flex-wrap: wrap;
      margin: 2rem 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: .5rem 1rem;
  }
  .card-heading {
    padding: 1rem 0 0 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .card-img {
    width: 350px;
  }
  .card-desc,
  .card-place {
    padding: 0.5rem 0 0 1rem;
    font-size: 0.9rem;
    font-weight: 300;
  }
  footer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
  }
  .left p {
    padding: 0 1rem;
    color: #6d28d9;
  }
  .right {
    margin: 0 0.9rem;
    color: #111;
  }
  span {
    padding: 0 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .card-1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .card-img1 {
    position: relative;
    width: 350px;
  }
  
  .card-heading1 {
    position: absolute;
    font-size: 1.2rem;
    left: 0;
    padding: 1rem;
    font-weight: 900;
    bottom: 30px;
    color: #fff;
  }
  .card-place1 {
    position: absolute;
    left: 0;
    color: #fff;
    bottom: 0;
    font-weight: 500;
    padding: 1rem;
  }
.card-2{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 420px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: .5rem 1rem;
}
  .card-heading-2{
      order: 1;
      padding: 1rem 0 0 1rem;
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
  }
  .card-place-2{
      order: 1;
      padding: .5rem 1rem;
      font-size: 0.9rem;
      font-weight: 300;
  }
  .card-desc-2{
      order: 3;
      padding: 0.5rem 0 0 1rem;
      font-size: 0.9rem;
      font-weight: 300;
  }
  .card-img-2{
    order: 2;
  }
  footer{
      order: 4;
  }
  .right-button{
      display: flex;
      justify-content: end;
  }
  
  .wrapper6 {
    display: flex;
    justify-content: center;
  }
  .card-6 {
    width: 350px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .card-img6 {
    width: 150px;
  }
  .card-heading6{
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
  }
  .card-place6{
    font-weight: 400;
  }