@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #989898;
    margin: 1rem 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type:none;
}
main{
    display: flex;
    padding: 1rem;
}
.modal-alert{
    margin-top: 1rem;
    width: 15rem;
    height:15rem;
    background-color: #fcfcfc;
    border-radius: 5px;
}
.heading{
    padding:1rem ;
    font-weight: 700;
    font-size: 1.2rem;
}
.sub-heading{
    padding: 0 0 0 1rem;
    color: #989898;
}
.action-btn{
    display: flex;
    justify-content: end;
}
button{
    /* outline: none; */
    border-width: 0;
    padding: .5rem 1rem;
    margin: 2rem .5rem 0 .5rem;
    color: #7c3aed;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}
button:hover{
    background-color: rgb(239, 239, 239);
    opacity: .5;
}

.modal-simple{
    width: 18rem;
    height:12rem;
    background-color: #fcfcfc;
    padding: 2rem 0;
    border-radius: 5px;
    margin-right: 1rem;
}
.item-list{
    display: flex;
    flex-direction: column;
    padding: 0 .3rem;
}
li{
    font-size: 1rem;
    font-weight: 600;
    margin: .2rem 0;
    display: flex;
    padding: .6rem;
    align-items: center;
}
li:hover{
    background-color:rgb(239, 239, 239);
}
.icon{
    font-size: 2.2rem;
    padding: 0 1rem 0 1rem;
    color:rgb(219, 217, 217);
}
.modal-confirmation
 {
    margin: 1rem 1rem;
    height: max-content;
    width: 350px;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ffff;
}
h2{
    padding: 1rem;
}
span {
    font-size: 1.2rem;
    margin-left: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }
  label{
      padding: 0 1rem;
  }
.modal_confirmation-items {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
  }
.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem 0;
}
